<h2>SignUp</h2>

<%= form_with url: signup_path, local:true, method: :post do %>
<div>
  <%= label_tag "email" %>
  <%= email_field_tag "email", nil %>

  <%= label_tag "password" %>
  <%= password_field_tag "password", nil %>

  <%= submit_tag "Signup" %>
</div>

<% end %>
